.preview-form {
  padding-bottom: 196px;
}
.send-phone-form {
  p {
    padding-bottom: 28px;
    padding-top: 66px;
  }
}
input[type="text"] {
  padding: 16px 20px;
  margin: 0 14px 14px 0;
  font-size: 12px;
  line-height: 14px;
  width: 220px;
  background: #f9fafa;
}
.consultation input[type="text"] {
  margin-bottom: 0;
}
button  {
  font-size: 14px;
  padding: 14px 30px;
  background: #f9b92f;
  &:hover {
    color: #fff;
  }
}
.price-form-wrapper {
  input[type="text"], button {
    width: 100%;
  }
}