.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  .container {
    display: flex;
    align-items: center;
  }
}
.logo {
  margin-right: 26px;
  padding: 14px 0;
  display: block;
}
.logo-fixed {
  display: none;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  a {
    color: #fff;
    transition: .3s linear;
    font-weight: 300;
  }
  & > a {
    padding-top: 16px;
    font-weight: 600;
  }
}
.nav {
  display: flex;
  padding: 16px 0 0;
  li {
    padding: 0 23px;
    a:hover {
      color: #f9b92f;
    }
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  color: #000;
  z-index: 12;
  .logo-abs {
    display: none;
  }
  .logo-fixed {
    display: block;
  }
  .nav-wrapper {
    a {
      color: #000;
      transition: .3s linear;
    }
    & > a {
      color: #f9b92f;
    }
  }
}